body,
h4,
h3,
h2,
h1 {
    margin: 0 auto;
}

.mg-20 {
    margin: 20px;
}

.ml-50 {
    margin-left: 50px;
}

.mg-rl_20 {
    margin: 0 20px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}

.mt-20 {
    margin-top: 20px;
}

.mg-10 {
    margin: 10px;
}

p {
    margin: 0;
    padding: 0;
}

.pl-5 {
    padding-left: 5px;
}

.mt-14 {
    margin-top: 14px;
}

.pt-15 {
    padding: 15px;
}


.box-content {
    margin: 0px 30px;
    background-color: #ffffff;
    padding: 15px;
    margin-top: 30px;
     box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 13%), 0px 0px 2.9px rgb(0 0 0 / 11%);
}
.title {
    color: #ed4b0b;
    padding: 15px 0px 0px 38px;
}
.flex-sp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box{
    background-color: #eeeeee;
    height: calc(100vh - 60px);

    overflow: hidden;
}